name: ci
on: [push]
jobs:
  test:
    name: "run tests"
    strategy:
      fail-fast: false
      matrix:
        go: [ "1.25", "1.26" ]
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }}
      - name: install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y llvm
          clang --version
          llc --version

      - name: build examples
        working-directory: examples
        run: |
          TARGET=bin/main make all

      - name: golangci-lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 #v9.2.0

      - run: "go test -exec sudo ./..."
